.page {
  margin: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: 400px;
  margin: 20px auto;
}

.product:hover {
  transform: scale(1.05);
}

.image {
  border-radius: 4px;
}

.category {
  display: block;
  margin-top: 10px;
  color: #666;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.RestaButton,
.SumaButton {
    font-size: 20px;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.CarritoButton {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.CarritoButton:hover {
    background-color: #0056b3;
}
  